<h2 style="margin: 15px 0;">Related Listings</h2>
<div class="box-row">
  <% @related_listings.each do |listing| %>
    <div class="col-lg-3 col-3 col-md-4 col-sm-6 related-listing-item">
      <div class="home-custom-grid-item">
        <div class="listing-author-wrapper clearfix">
          <div class='avatar'>
            <%= link_to(person_path(username: listing.author.username)) do %>
              <%= small_avatar_thumb(listing.author) %>
            <% end %>
          </div>
          <div class='author-name-posting clearfix'>
            <% name = PersonViewUtils.person_entity_display_name(listing.author, @current_community.name_display_type) %>
            <%= link_to(person_path(username: listing.author.username), title: name, class: 'author-link') do %>
              <%= name %>
            <% end %>
            <div class='posting-time'>
              <%= time_ago_in_words(listing.created_at) %> ago
            </div>
          </div>
        </div>
        <div class="listing-image">
          <%= link_to(listing_path(listing.to_param), :class => "fluid-thumbnail-grid-image-item-link") do %>
            <div class='listing-image-wrapper'>
              <% with_first_love_listing_image(listing) do |first_image_url| %>
                <%= image_tag first_image_url, { :alt => listed_listing_title(listing) } %>
              <% end %>
              <% if listing.sponsored == true %>
                <div class='promoted-text'>Promoted</div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class='listing-details'>
          <p class="title">
            <%= link_to listing.title, listing_path(listing.to_param) %>
          </p>
          <div class="price">
            Price:
            <b>
              <% if listing.price %>
                <%= MoneyViewUtils.to_humanized(listing.price) %>
                <% price_unit = '' #price_quantity_slash_unit(listing) %>
                <% unless price_unit.blank? %>
                  <% price_text = " " + price_unit %>
                  <%= price_text %>
                <% end %>
              <% else %>
                <%= shape_name(listing) %>
              <% end %>
            </b>
          </div>
          <div class='user-reaction'>
            <%= love_button(listing, @current_user, 'listing-overx') %>
          </div>
          <div class='listing-displace'>
            <span style="font-weight: 600">
               <%= listing.geo_distance(@listing.location) %> miles
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
