<% frontpage_fragment_cache("grid_item", listing) do %>
  <div class='people-fluid-thumbnail-grid-item clearfix'>
    <div class='home-fluid-thumbnail-grid-item'>
      <div class="home-custom-grid-item people-item">
        <div class="listing-image">
          <%= render :partial => "layouts/custom_grid_listing_image", :locals => { :listing => listing, :modifier_class => "" } %>
        </div>
        <div class='listing-details'>
          <p class="title">
            <%= link_to listing.title, listing.url %>
          </p>
          <div class="price">
            Price:
            <b>
              <% if listing.price %>
                <%= MoneyViewUtils.to_humanized(listing.price) %>
                <% price_unit = '' %>
                <% unless price_unit.blank? %>
                  <% price_text = " " + price_unit %>
                  <%= price_text %>
                <% end %>
              <% else %>
                <%= shape_name(listing) %>
              <% end %>
            </b>
          </div>
          <div class='user-reaction'>
            <%= love_button(listing, @current_user, 'listing-overx') %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
