<div class='row'>
  <div class='col-12'>
    <%= f.label :list_title, 'Board type title' %>
    <%= f.text_field :list_title, placeholder: 'Title' %>
  </div>
</div>
<div class='row'>
  <div class='col-12'>
    <%= f.label :hw_list, 'How it works LIST' %>
    <%= f.text_field :hw_list, placeholder: 'LIST text' %>
  </div>
</div>
<div class='row'>
  <div class='col-12'>
    <%= f.label :hw_sell, 'How it works SELL' %>
    <%= f.text_field :hw_sell, placeholder: 'SELL text' %>
  </div>
</div>
<div class='row'>
  <div class='col-12'>
    <%= f.label :hw_delivery, 'How it works DELIVERY' %>
    <%= f.text_field :hw_delivery, placeholder: 'DELIVERY text' %>
  </div>
</div>
<div class='row'>
  <div class='col-12'>
    <%= f.label :hw_paid, 'How it works PAID' %>
    <%= f.text_field :hw_paid, placeholder: 'PAID text' %>
  </div>
</div>
