<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= page["title"]["value"] %></title>

  <%= render partial: "meta", locals: { cc: community_context, p: page, locale: landing_page_locale, url: landing_page_url } %>

  <%= favicon_link_tag community_context[:favicon] %>
  <%= favicon_link_tag community_context[:apple_touch_icon], rel: 'apple-touch-icon-precomposed', type: 'image/png' %>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
          'gtm.start':
              new Date().getTime(), event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-58GRCK5');</script>
  <!-- End Google Tag Manager -->
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-58GRCK5"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <%= stylesheet_link_tag 'landing' %>
  <%= render 'layouts/tawk_chat_bot' %>
</head>
<body>
<div id="topbar-placeholder" class="topbar-placeholder"></div>
<header class="header pre-loading" id='landing-header'>
  <div class='header-container'>
    <div class='row'>
      <div class="col-lg-12">
        <div class="row">
          <div class="col-md-7" style="padding: 0">
            <div class="header-image">
              <% sections.each_with_index do |section, index| %>

                <% s = section["section"] %>
                <% section_id = "#{s['kind']}__#{s['id']}__#{index}" %>
                <% case s["kind"] %>
              <% when "hero" %>
                  <%= render partial: "hero", locals: { section_id: section_id, s: s, community_context: community_context } %>
                <% end %>

              <% end %>
            </div>
          </div>
          <div class="col-md-5 header-image-wrapper" style="padding: 0">
            <div class="header-image" style="background-image: url('<%= community_context[:hero_photo] %>')">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<% if sections.any? { |s| s["section"]["kind"] == "hero" && (s["section"]["variation"]["value"] == "location_search" || s["section"]["variation"]["value"] == "keyword_and_location_search") } %>
  <% key_param = community_context.has_key?(:google_maps_key) && community_context[:google_maps_key] ? "&key=#{community_context[:google_maps_key]}" : "" %>
  <script src="//maps.googleapis.com/maps/api/js?libraries=places<%= key_param %>"></script>
  <script>
      <%= javascripts[:location_search] %>
  </script>
<% end %>
<div class='container'>
  <div class="boxgiver-videos preload">
    <div class="video-content">
      <iframe id='boxgiver-video' src="https://www.youtube.com/embed/0HxQCv6u2PA?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="how-it-works-wrapper" id='how-it-works'>
  <div class="container">
    <h3 class="text-center"> How it works </h3>
    <p class="text-center how-it-work-text">
      Whether you're looking to borrow, lead, buy or sell, we offer you simple directions. just let us know what
      you want to do.
    </p>
    <div class="how-it-works-items">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="item-header counter-one">
                <%= image_tag('list.png') %>
                <h3> LIST </h3>
              </div>
              <p>
                <%= @current_community.hw_list %>
              </p>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="item-header counter-two">
                <%= image_tag('sell.png') %>
                <h3> SELL </h3>
              </div>
              <p>
                <%= @current_community.hw_sell %>
              </p>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="item-header counter-three">
                <%= image_tag('deliver.png') %>
                <h3>
                  DELIVERY
                </h3>
              </div>
              <p>
                <%= @current_community.hw_delivery %>
              </p>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="item-header counter-four">
                <%= image_tag('paid.png') %>
                <h3>
                  GET PAID
                </h3>
              </div>
              <p>
                <%= @current_community.hw_paid %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="board-wrappers">
  <div class="container">
    <div class="board-title">
      <h1 class="text-center"> <%= @current_community.list_title %> </h1>
    </div>
    <div class="board-items">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <% @categories.each do |category| %>
              <div class="col-lg-3 col-md-6">
                <a class="board-item" href="/<%= landing_page_locale %>/s?category=<%= category.url %>">
                  <div class='board-header'>
                    <%= category.display_name(locale) %>
                  </div>
                  <div class='board-body'>
                    <div class='image-wrapper' style="background-image: url('<%= category.image ? category.image : asset_path('nope-not-here.webp') %>')">

                    </div>
                  </div>
                </a>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="board-summary">
  <div class='container'>
    <div class='row'>
      <div class="col-lg-12">
        <div class="row">
          <div class="col-md-6">
            <div class='rowx'>
              <div class="earning-faq">
                <h1>
                  Unlimited earning potential
                </h1>
                <div class='faq-items'>
                  <div class='faq-item'>
                    <h2> How can I become part of this? </h2>
                    <p class='faq-text'>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                    </p>
                  </div>
                  <div class='faq-item'>
                    <h2> Hwo can join the Beazy Gang? </h2>
                    <p class='faq-text'>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                    </p>
                  </div>
                  <div class='faq-item'>
                    <h2> Can I get a job through the Beazy Gang? </h2>
                    <p class='faq-text'>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                    </p>
                  </div>
                </div>
                <div class='check-it-out'>
                  <a href='/listings'> Check it out </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 m-reset-padding">
            <div class='earning-content' style="background-image: url('<%= community_context[:earning_potential_image] %>')"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  <% # Basic styling %>
  <%= styles %>

  <% # Styles from section partials. E.g. styles that need marketplace color %>
  <%= yield :hero_css %>
  <%= yield :video_css %>
  <%= yield :locations_css %>
</style>

<%= yield :javascript %>

<%= render 'layouts/custom_footer', c: community_context %>
<% asset_host = local_assigns.key?(:asset_host) ? asset_host : nil %>
<%= stylesheet_link_tag asset_path('app-bundle', type: :stylesheet, host: asset_host) %>
<%= javascript_include_tag asset_path('vendor-bundle', type: :javascript, host: asset_host) %>
<%= javascript_include_tag asset_path('app-bundle', type: :javascript, host: asset_host) %>
<%= javascript_include_tag asset_path('landing', type: :javascript, host: asset_host) %>
<%= render partial: "topbar",
           locals: { props: topbar[:props],
                     marketplace_context: topbar[:marketplace_context],
                     props_endpoint: topbar[:props_endpoint],
                     container_id: "topbar-placeholder" } %>
<%= render 'layouts/cookies' %>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', (event) => {
        setTimeout(function () {
            var element = document.getElementById("landing-header");
            element.classList.remove("pre-loading");
        }, 300);
    })
</script>
</body>
</html>
