<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= page["title"]["value"] %></title>

  <%= render partial: "meta", locals: { cc: community_context, p: page, locale: landing_page_locale, url: landing_page_url } %>

  <%= favicon_link_tag community_context[:favicon] %>
  <%= favicon_link_tag community_context[:apple_touch_icon], rel: 'apple-touch-icon-precomposed', type: 'image/png' %>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
          'gtm.start':
              new Date().getTime(), event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-58GRCK5');</script>
  <!-- End Google Tag Manager -->
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-58GRCK5"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
  <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<!--  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>-->
<!--  <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>-->
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <%= stylesheet_link_tag 'landing' %>
  <%#= render 'layouts/tawk_chat_bot' %>
</head>
<body>
<a id="back-to-top-button" data-toggle="tooltip" data-placement="bottom" title="Back to top"></a>
<header class="header pre-loading" id='landing-header'>
  <div class="topbar-placeholder">
    <div class="container" id="topbar-placeholder">

    </div>
  </div>
  <div class='header-container'>
    <div id="header">
      <div class="hero-container">
        <div class="hero">
          <h1 class="hero-text">Find & reuse unwanted packaging</h1>
          <h2 class="hero-text-mobile d-none">Find & reuse<br> unwanted packaging</h2>
          <p class="hero-description">
            The largest and most trusted marketplace to buy, sell, or donate packaging materials locally.
          </p>
        </div>
        <div class='row'>
          <div class="col-lg-12">
            <div class="row">
              <div class="col-md-12" style="padding: 0">
                <div class="header-image">
                  <% sections.each_with_index do |section, index| %>
                    <% s = section["section"] %>
                    <% section_id = "#{s['kind']}__#{s['id']}__#{index}" %>
                    <% case s["kind"] %>
                  <% when "hero" %>
                      <%= render partial: "hero", locals: { section_id: section_id, s: s, community_context: community_context } %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<% if sections.any? { |s| s["section"]["kind"] == "hero" && (s["section"]["variation"]["value"] == "location_search" || s["section"]["variation"]["value"] == "keyword_and_location_search") } %>
  <% key_param = community_context.has_key?(:google_maps_key) && community_context[:google_maps_key] ? "&key=#{community_context[:google_maps_key]}" : "" %>
  <script src="//maps.googleapis.com/maps/api/js?libraries=places<%= key_param %>"></script>
  <script>
      <%= javascripts[:location_search] %>
  </script>
<% end %>
<!--<div class='container'>-->
<!--  <div class="boxgiver-videos preload">-->
<!--    <div class="video-content">-->
<!--      <iframe id='boxgiver-video' src="https://www.youtube.com/embed/0HxQCv6u2PA?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="landing-body">
  <%#= render "landing_page/header" %>
  <div id="features-top">
    <%= render "landing_page/features" %>
  </div>
  <%= render "landing_page/popular_categories" %>
  <div id="features-bottom" class="d-none">
    <%= render "landing_page/features" %>
  </div>
  <%= render "landing_page/new_listings" %>
  <%= render "landing_page/featured_listings" %>
  <%= render "landing_page/recycle_process" %>
  <%= render "landing_page/most_viewed_listings" %>
  <%= render "landing_page/how_boxgiver_works" %>
  <%= render "landing_page/blogs" %>
  <%= render "landing_page/subscribe" %>
  <%= render "landing_page/footer_2" %>
</div>

<!--<div class="how-it-works-wrapper" id='how-it-works'>-->
<!--  <div class="container">-->
<!--    <h3 class="text-center"> How it works </h3>-->
<!--    <p class="text-center how-it-work-text">-->
<!--      Whether you're looking to borrow, lead, buy or sell, we offer you simple directions. just let us know what-->
<!--      you want to do.-->
<!--    </p>-->
<!--    <div class="how-it-works-items">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-12">-->
<!--          <div class="row">-->
<!--            <div class="col-lg-3 col-md-6">-->
<!--              <div class="item-header counter-one">-->
<%#= image_tag('list.png') %>
<!--                <h3> LIST </h3>-->
<!--              </div>-->
<!--              <p>-->
<%#= @current_community.hw_list %>
<!--              </p>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-6">-->
<!--              <div class="item-header counter-two">-->
<%#= image_tag('sell.png') %>
<!--                <h3> SELL </h3>-->
<!--              </div>-->
<!--              <p>-->
<%#= @current_community.hw_sell %>
<!--              </p>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-6">-->
<!--              <div class="item-header counter-three">-->
<%#= image_tag('deliver.png') %>
<!--                <h3>-->
<!--                  DELIVERY-->
<!--                </h3>-->
<!--              </div>-->
<!--              <p>-->
<%#= @current_community.hw_delivery %>
<!--              </p>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-6">-->
<!--              <div class="item-header counter-four">-->
<%#= image_tag('paid.png') %>
<!--                <h3>-->
<!--                  GET PAID-->
<!--                </h3>-->
<!--              </div>-->
<!--              <p>-->
<%#= @current_community.hw_paid %>
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="board-wrappers">-->
<!--  <div class="container">-->
<!--    <div class="board-title">-->
<!--      <h1 class="text-center"> <%#= @current_community.list_title %> </h1>-->
<!--    </div>-->
<!--    <div class="board-items">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-12">-->
<!--          <div class="row">-->
<%# @categories.each do |category| %>
<!--              <div class="col-lg-3 col-md-6">-->
<!--                <a class="board-item" href="/<%#= landing_page_locale %>/s?category=<%#= category.url %>">-->
<!--                  <div class='board-header'>-->
<%#= category.display_name(locale) %>
<!--                  </div>-->
<!--                  <div class='board-body'>-->
<!--                    <div class='image-wrapper' style="background-image: url('<%#= category.image ? category.image : asset_path('nope-not-here.webp') %>')">-->

<!--                    </div>-->
<!--                  </div>-->
<!--                </a>-->
<!--              </div>-->
<%# end %>
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="board-summary">-->
<!--  <div class='container'>-->
<!--    <div class='row'>-->
<!--      <div class="col-lg-12">-->
<!--        <div class="row">-->
<!--          <div class="col-md-6">-->
<!--            <div class='rowx'>-->
<!--              <div class="earning-faq">-->
<!--                <h1>-->
<!--                  Take action against packaging waste!-->
<!--                </h1>-->
<!--                <div class='faq-items'>-->
<!--                  <div class='faq-item'>-->
<!--                    <h2> Residential </h2>-->
<!--                    <p class='faq-text'>-->
<!--                      A lot of people use cardboard boxes and other packaging supplies for shipping, moving, storing,-->
<!--                      gardening, composting, and more. Sometimes these boxes pile up and you have no idea how to get rid of-->
<!--                      them. Rather than being part of the ‘throw away’ culture, you can donate your packaging supplies to those-->
<!--                      in need. BoxGiver allows you to connect and collaborate with your neighbors, so you can maximize the-->
<!--                      life of these products, reduce your environmental impact, and become a proud “BoxGiver”!-->
<!--                    </p>-->
<!--                  </div>-->
<!--                  <div class='faq-item'>-->
<!--                    <h2> Commercial </h2>-->
<!--                    <p class='faq-text'>-->
<!--                      Most retail stores, small businesses, warehouses, factories, hotels, restaurants, sport facilities, and-->
<!--                      hospitals throw their packaging supplies in the trash. This includes corrugated boxes, liquor boxes, wine-->
<!--                      boxes, banana boxes, tv boxes, wardrobe boxes, file storage boxes, bubble mailers, bubble wrap,-->
<!--                      packing paper, and more. By giving away your packaging supplies you can help reduce the waste that-->
<!--                      ends up in our landfills and seas. Set yourself apart from other organizations! An organization is only as-->
<!--                      strong as the leaders who drive it.-->
<!--                    </p>-->
<!--                  </div>-->
<!--                  <div class='faq-item'>-->
<!--                    <h2> Local environmental stewardship </h2>-->
<!--                    <p class='faq-text'>-->
<!--                      Our mission is to inspire the public to reduce packaging waste by repurposing their cardboard and other-->
<!--                      materials. If you come across any packaging supplies around your neighborhood that you think can be-->
<!--                      reused, feel free to take a photo and post it on our marketplace. By taking action you can inspire and-->
<!--                      raise a new generation of eco-conscious consumers. BoxGiver allows us all to take action in a sensible-->
<!--                      and simple way!-->
<!--                    </p>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class='check-it-out'>-->
<!--                  <a href='/listings'> View all listings (<%#= Listing.all.count %>) </a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-6 d-none d-xl-block d-lg-block d-md-block m-reset-padding">-->
<!--            <div class='earning-content' style="background-image: url('<%#= community_context[:earning_potential_image] %>'); min-height: 580px;"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<style type="text/css">
  <% # Basic styling %>
  <%= styles %>

  <% # Styles from section partials. E.g. styles that need marketplace color %>
  <%= yield :hero_css %>
  <%= yield :video_css %>
  <%= yield :locations_css %>
</style>

<%= yield :javascript %>

<%#= render 'layouts/custom_footer', c: community_context %>
<% asset_host = local_assigns.key?(:asset_host) ? asset_host : nil %>
<%= stylesheet_link_tag asset_path('app-bundle', type: :stylesheet, host: asset_host) %>
<%= javascript_include_tag asset_path('vendor-bundle', type: :javascript, host: asset_host) %>
<%= javascript_include_tag asset_path('app-bundle', type: :javascript, host: asset_host) %>
<%= javascript_include_tag asset_path('landing', type: :javascript, host: asset_host) %>
<%= render partial: "topbar",
           locals: { props: topbar[:props],
                     marketplace_context: topbar[:marketplace_context],
                     props_endpoint: topbar[:props_endpoint],
                     container_id: "topbar-placeholder" } %>
<%= render 'layouts/cookies' %>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', (event) => {
        setTimeout(function () {
            var element = document.getElementById("landing-header");
            element.classList.remove("pre-loading");
        }, 300);
    })
    var btn = $('#back-to-top-button');

    $(window).scroll(function() {
        if ($(window).scrollTop() > 300) {
            btn.addClass('show');
        } else {
            btn.removeClass('show');
        }
    });

    btn.on('click', function(e) {
        e.preventDefault();
        $('html, body').animate({scrollTop:0}, '300');
    });

</script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</body>
</html>
